In [24]:
from pycaret.classification import *
import pandas as pd

In [35]:
DDIR = "../../pdb/proc/"
data = pd.read_csv(DDIR+"data.csv")
data['ptn'] = 1

In [36]:
data.head()

   0  1  2  3  4  5  6  7  8  9  ... 205 206 207 208 209 210 211 212 213 ptn
0  D  I  V  L  T  Q  S  P  A  I  ...   I   V   K   S   F   N   R   N   A   1
1  Q  T  V  L  T  Q  S  P  S  S  ...   K   S   F   N   R   G   E   C   A   1
2  Y  V  L  T  Q  P  P  S  V  S  ...   T   V   A   P   T   E   C   S   A   1
3  A  S  E  T  F  E  F  Q  A  E  ...   L   V   V   T   K   E   V   E   A   1
4  M  S  V  E  E  V  S  K  K  F  ...   H   P   Q   P   S   I   T   L   A   1

[5 rows x 215 columns]

In [37]:
random = pd.read_csv(DDIR+"random.csv")
data = pd.concat([data, random])

In [38]:
exp_clf = setup(data, target = 'ptn', use_gpu=True)

In [39]:
best = compare_models()

IntProgress(value=0, description='Processing: ', max=69)

Initiated  . . . . . . . . . . . . . . . . . .             03:23:58
Status     . . . . . . . . . . . . . . . . . .     Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, TT (Sec)]
Index: []

In [32]:
lr = create_model('knn', cross_validation=False)

   Accuracy     AUC  Recall   Prec.      F1  Kappa     MCC
0    0.7244  0.9053  0.9196  0.6289  0.7469  0.467  0.5084

In [33]:
predictions = predict_model(lr, test)

In [34]:
predictions["Label"].value_counts()

1    189
0     11
Name: Label, dtype: int64